* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -75%);
}

.controls {
  position: absolute;
  top: 8rem; /* Adjust the top position */
  left: 4rem;
  z-index: 2;
  color: white;
}

.control-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.control-group label {
  margin-right: 10px;
}

.control-group input {
  margin-right: 10px;
  width: 100px; /* Adjust the width as needed */
}

button#resetCameraButton,
button#randomiseButton {
  background-color: #0062ff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin-right: 10px;
}

button#resetCameraButton:hover,
button#randomiseButton:hover {
  background-color: rgb(0, 45, 75);
  margin-right: 10px;
}
