* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 2.5%;
  top: 2.5%;
  transform: translate(-2.5%, -2.5%);
}

.controls {
  position: absolute;
  top: 6rem; /* Adjust the top position */
  left: 4rem;
  z-index: 2;
  color: white;
}

.controls-right {
  position: absolute;
  top: 6rem; /* Adjust the top position */
  right: 4rem; /* Adjust the right position */
  z-index: 2;
  color: white;
}

.controls-heading {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.control-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.control-group label {
  margin-right: 10px;
}

.control-group input {
  margin-right: 10px;
  width: 100px; /* Adjust the width as needed */
}

.control-group output {
  width: 30px; /* Adjust the width as needed */
  padding-right: 10px; /* Add right padding for spacing */
}

button {
  background-color: #0062ff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin-right: 10px;
}

button:hover {
  background-color: rgb(0, 45, 75);
  margin-right: 10px;
}
